
    .main {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
      }


.post img{
    width: 50%;
    border-style:solid;
    border-width:5px;
    margin-left:400px;
    border-color:darkred
}
.post h1{
    margin-left:100px
}
.post p{
    margin-left:180px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:darkred;
}